.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.leading-none {
    line-height: 1;
}
.font-roboto-serif {
    font-family: Roboto Serif, Palatino, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
}
.bg-white {
    background-color: var(--white, #fff);
}
body {
    font-family: inherit;
    line-height: inherit;
}
body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
*, :after, :before {
    --tw-shadow: 0 0 transparent;
}
*, :after, :before {
    border-color: var(--gray-200, #e5e7eb);
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
html {
    font-family: NafeesNaksh, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
}
html {
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
*, :after, :before {
    --tw-shadow: 0 0 transparent;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
*, :after, :before {
    --tw-shadow: 0 0 transparent;
}
*, :after, :before {
    border-color: var(--gray-200, #e5e7eb);
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}
*, :after, :before {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(147, 197, 253, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
*, :after, :before {
    --tw-shadow: 0 0 transparent;
}
*, :after, :before {
    border-color: var(--gray-200, #e5e7eb);
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid;
}

